<aside>
  <h2>Enjoy the horoscopes!</h2>
</aside>
<section>
  <h4 id="user-sign">Sign: {{prediction.userSign}}</h4>
  <h4 id="user-animal-sign">Animal Sign:{{prediction.userAnimalSign}}</h4>
  <h3>Your Prediction:</h3>
  <div id="today">
    <h3 id="today-prediction">Today: {{prediction.today}}</h3>
    <button type="submit" id="today-button" class="share-button">Share this Prediction</button>
  </div>

  <div id="tomorrow">
    <h3 id="tomorrow-prediction">Tomoorw: {{prediction.tomorrow}}</h3>
    <button type="submit" id="tomorrow-button" class="share-button">Share this Prediction</button>
  </div>"

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/assets/javascript/dashboard.js"></script>


{{!-- {{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script> --}}
