<section id="main-title">
    <h1>Welcome to AstroZod where you can learn more about your Horoscope!</h1>
    <img src="/assets/image/horoscope.png" alt="horoscope" width="500" height="600">
</section>
<section id="post-section">
    <h3>Checkout the latest prediction and comments</h3>
    <ol style="list-style-type:none;">
        {{#each shareList as |share|}}
            <li>
                <div class="share-prediction">{{share.content}}</div>
                <ol style="list-style-type:none;">
                    {{#each share.comments as |comment|}}
                        <li>
                            <div class="comment-block">
                                {{comment.author}} said:
                                <br>
                                {{comment.content}}
                            </div>
                        </li>
                    {{/each}}
                </ol>
                <input type="text" id = "comment-{{share.id}}">
                <button class="add-comment" data-id = "{{share.id}}">Add Comment</button>
            </li>
        {{/each}}
    </ol>
</section>
<script src="/assets/javascript/homepage.js"></script>